body {
  margin: 0;
}

header {
  width: 100%;
  padding: 5px;
}

.input-buscar {
  display: inline-block;
  border: 1px inset #ccc;
}

.input-buscar input {
  border: none;
  padding: 0;
}

.input-buscar button {
  border: none;
  background: none;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 8px;
}

.filtro-geral{
  display: flex;
  justify-content: space-between;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, 50%);
  grid-gap: 10px;
  padding: 100px 20px;
}

.produtoIndividual{
  border: 1px solid black;
  display: block;
  text-align: center;
}

 footer{
   text-align: center;
   bottom: 0;
   width: 100%;
 }

 hr{
   border-color: rgb(121, 119, 119);
   border-width: 2px;
 }